body{
  background-image: url(https://static.wixstatic.com/media/cb9f0a_1ac8fba16b234fa0bdd504368dc33bea~mv2.jpg/v1/fill/w_1024,h_1024,al_c,q_85,usm_0.66_1.00_0.01/cb9f0a_1ac8fba16b234fa0bdd504368dc33bea~mv2.webp);
  background-size: cover;
  background-position: fixed;
  position: relative;
  height: 100%;
  width: 100%;
}

#nav {
  height: auto;
  display: block;
  text-align: center;
  position: fixed;
  margin: 0;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  float: left;
}

#nav li{
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.3);
  float: left;
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  margin-left: 5px;
  padding: 5px 5px;
  font-size: 50px;
}

#nav li:hover{
  color: #ffffff;
  font-size: 55px;
  background-color: rgba(0, 0, 0, 0.5);
}

.content{
  height: 100%;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: block;
}
